---
import BaseLayout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const title = "Blog";
const description = "Latest articles.";

const allPosts = (await getCollection("blog")).filter((e) => !e.data.draft);
---

<BaseLayout title={title}>
  <div class="p-10 w-3/4 max-w-6xl mx-auto text-text">
    <h1 class="text-3xl font-bold">Latest posts</h1>
    <div class="w-100 flex flex-col gap-10 mt-4 justify-center">
      {
        allPosts.map((post, index) => {
          const href = `/blog/${post.slug}`;
          return (
            <div class="cursor-pointer">
              <div class="post-item">
                <a href={href} class="hover:highlight-text">
                  <h2 class="text-subtext1 text-2xl ">{post.data.title}</h2>
                </a>
                <div class="text-sky flex gap-4">
                  <time datetime={post.data.pubDate.toString()} class="">
                    {new Date(post.data.pubDate).toLocaleDateString("en-US", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })}
                  </time>
                  <span>10 min read</span>
                  <span>50 views</span>
                </div>
                <p class="text-text mt-2">{post.data.description}</p>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</BaseLayout>
