---
import BaseLayout from "../../layouts/Layout.astro";
import BlogPost from "@components/BlogPost.astro";
import { getCollection } from "astro:content";
const title = "Blog";

const allPostsPromise = (await getCollection("blog"))
  .filter((e) => !e.data.draft)
  .map(async (e) => {
    const { remarkPluginFrontmatter } = await e.render();
    return {
      slug: e.slug,
      data: e.data,
      minutesRead: remarkPluginFrontmatter.minutesRead as string,
    };
  });
const allPosts = await Promise.all(allPostsPromise).then((e) =>
  e.sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
  ),
);
---

<BaseLayout title={title}>
  <div class="p-10 w-3/4 max-w-6xl mx-auto text-ctp-text">
    <h1 class="text-3xl font-bold">Latest posts</h1>
    <div class="w-full flex flex-col gap-10 mt-4 justify-center">
      {
        allPosts.map((post, _) => (
          <BlogPost
            slug={post.slug}
            minutesRead={post.minutesRead}
            post={post.data}
            cover={post.data.cover}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
