---
import { proseClasses } from "@root/constants";
import Layout from "./Layout.astro";
interface Post {
  data: {
    title: string;
    date: string;
    pubDate: string;
    description: string;
  };
}
const post: Post = Astro.props.post as Post;
---

<Layout title={post.data.title}>
  <article class={proseClasses}>
    <h1
      class="not-prose mb-2 mt-10 text-2xl highlight-text font-extrabold md:mr-6 md:text-4xl"
    >
      {post.data.title}
    </h1>
    <div>
      <time datetime={post.data.date} class="text-subtext1">
        {
          new Date(post.data.pubDate).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>
    </div>
    <h2>Summary</h2>
    <p>
      {post.data.description}
    </p>

    <div class="font-serif">
      <slot />
    </div>
  </article>
</Layout>
